@import url('https://fonts.bunny.net/css?family=Nunito');
@import 'variables';
@import 'bootstrap/scss/bootstrap';

html, body, #app {
    height: 100%;
    font-family: sans-serif;

    &::-webkit-scrollbar {
        display: none;
    }
}

.navbar-brand {
    @apply font-extrabold text-blue-500 hover:text-blue-400;
}